<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697574848993-ph92ptu8phkbhqqni9sq8vg0m3b590k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697574848993-ph92ptu8phkbhqqni9sq8vg0m3b590k1</string>
	<key>API_KEY</key>
	<string>AIzaSyDFmvj1P-28-ruRq3VGfJDy-HHUqgxGkwM</string>
	<key>GCM_SENDER_ID</key>
	<string>697574848993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasmokeup</string>
	<key>PROJECT_ID</key>
	<string>foodapp-9c70f</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-9c70f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697574848993:ios:d2ee460bec1bb2296efaa0</string>
</dict>
</plist>